<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <h1>IVEA</h1>
      <h3>Furniture Store</h3>
    </header>
    <main>
      <aside>
        <ul>
          <li>All Categories</li>
          <li>Sofas</li>
          <li>ArmChairs</li>
          <li>Beds</li>
          <li>Desks</li>
        </ul>
      </aside>
      <section>
        <div>
          <h3>Sofa 1</h3>
          <img src="" alt="sofa pic" />
          <p>Category: Sofas</p>
          <p>Price: $xxx</p>
          <p>Available: x Pieces</p>
        </div>
        <div>
          <h3>Sofa 1</h3>
          <img src="" alt="sofa pic" />
          <p>Category: Sofas</p>
          <p>Price: $xxx</p>
          <p>Available: x Pieces</p>
        </div>
        <div>
          <h3>Sofa 1</h3>
          <img src="" alt="sofa pic" />
          <p>Category: Sofas</p>
          <p>Price: $xxx</p>
          <p>Available: x Pieces</p>
        </div>
      </section>
    </main>
  </body>
</html>
